<div style='padding: 0 30px' class='mt-5'>
    <form method='POST' action=''>
        <div class='mb-3'>
            <label for='search' class='form-label'>Nhập để tìm kiếm</label>
            <input placeholder='Nhập từ khóa...' name='q' class='form-control' id='search' />
        </div>
        <select name='gender' class='form-select'>
            <option value=''>Giới tính</option>
            <option value='1'>nam</option>
            <option value='2'>nữ</option>
            <option value='3'>bd</option>
        </select>
        <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
    </form>
</div>